.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
}

.card {
    background: #ffffff;
    max-height: 474px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.15);
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        width: calc(50% - 12px);
    }

    @media (min-width: 1024px) {
        width: calc(33.333% - 16px);
    }
}

.imageContainer {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 20px;

    img {
        object-fit: cover;
    }
}

.cardBody {
    .title {
        color: #252641;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 24px;
        line-height: 180%;
        letter-spacing: 0%;
    }
}

.instructor {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;

    .avatar {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        overflow: hidden;
        background: #eee;

        img {
            object-fit: inherit;
        }
    }

    span {
        color: #000000;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 2%;

    }
}

.footer {
    margin-top: auto;

    .progressBar {
        width: 100%;
        height: 6px;
        background: #e0f2f1;
        border-radius: 10px;
        margin-bottom: 10px;
        overflow: hidden;

        .progressFill {
            height: 100%;
            background: #49BBBD;
            border-radius: 2px;
        }
    }

    .lessonText {
        text-align: right;
        color: #00000080;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 2%;
    }
}