@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.wrapper {
  max-width: 681px;
  max-height: 404px;
  color: $color-white;
  z-index: 2;
}

.heading {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  margin: 0;
}

.highlight {
  color: #fcb900;
}

.description {
  font-family: var(--font-nunito-sans);
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  margin: 34px 0 52px 0;
}

.actions {
  display: flex;
  align-items: center;
  gap: 40px;
}

.primaryBtn {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  background: #FFFFFF4D;
  cursor: pointer;
  width: 220;
  height: 80;
  opacity: 1;
  border-radius: 80px;
  color: $color-white;
  border: none;
}

.playBtn {
  display: flex;
  align-items: center;
  gap: 16px;
  background: none;
  border: none;
  color: #252641;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  cursor: pointer;
}

.playIcon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: $color-white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 32px;
    height: 32px;
  }
}