@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.wrapper {
    position: absolute;
    width: 911px;
    height: 577px;
    opacity: 1;
    top: 354px;
    right: 120px;
    max-width: 911px;
    max-height: 577px;
    z-index: 2;
}

.card {
    position: absolute;
    background: #FFFFFFCC;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 25px 28px;
    display: flex;
    gap: 32px;
    align-items: center;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);

    .emailIcon {
        width: 50px;
        height: 50px;
        background: #F88C3D;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    div {
        display: flex;
        flex-direction: column;

        strong {
            font-family: var(--font-nunito-sans);
            font-weight: 700;
            font-size: 24px;
            color: #595959;
        }

        span {
            font-family: var(--font-nunito-sans);
            font-weight: 600;
            font-size: 20px;
            color: #545567;
        }
    }

}

.callenderIconBox {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: #23BDEE;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        width: 27.5px;
        height: 27.5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.barIconBox {
    position: absolute;
    right: 92px;
    width: 69px;
    height: 69px;
    border-radius: 14px;
    background: #F3627C;
    display: flex;
    align-items: center;
    justify-content: center;

    .barIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid #F25471;
        width: 47.3px;
        height: 44.85px;
        box-shadow: 0px 8px 40px 0px #D24D6542;
        border-radius: 8px;
        background-color: $color-white;

        img {
            width: 24px;
            height: 24px;
            background-color: $color-white;
        }
    }
}

.stats {
    top: 120px;
    left: 0;
}

.message {
    top: 260px;
    right: 0;
}

.classCard {
    align-items: flex-start;
    bottom: 40px;
    left: 40px;
    gap: 23px;
    width: 390px;
}

.avatar {
    img {
        border-radius: 50%;
        width: 56px;
        height: 56px;
        overflow: hidden;
    }
}

.joinBtn {
    width: 180;
    height: 50;
    border-radius: 80px;
    margin-top: 12px;
    padding: 8px 20px;
    background: #D8587E;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 14px;
    font-family: var(--font-nunito-sans);
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}