.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6%;
}

.checkoutContainer {
    display: flex;
    background: white;
    border-radius: 30px;
    overflow: hidden;
    max-width: 1920px;
    width: 100%;
    gap: 52px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);

    @media (max-width: 850px) {
        flex-direction: column;
    }
}

.paymentSide {
    flex: 1.25;
    padding: 70px;

    .mainTitle {
        color: #252641;
        margin-bottom: 9px;
        font-weight: 600;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    .formGroup {
        margin-bottom: 38px;

        label {
            display: block;
            margin-bottom: 38px;
            color: #636E72;
            font-weight: 600;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
        }
    }

    .cardSelector {
        display: flex;
        gap: 20px;

        .cardIcon {
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &.active {
                border-color: #4DB6AC;
                background: #F0F9F8;
            }
        }
    }

    .inputBox {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 10px;
            color: #5B5B5B;
            font-weight: 600;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
        }

        input {
            width: 100%;
            padding: 16px 20px;
            border-radius: 10px;
            outline: none;
            border: 1px solid #D9D9D9;

            &::placeholder {
                color: #9D9B9B;
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: 0%;
            }
        }

        margin-bottom: 30px;
    }

    .row {
        display: flex;
        gap: 20px;

        .inputBox {
            flex: 1;
        }
    }

    .checkboxGroup {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0 0 50px;

        label {
            color: #9D9B9B;
            cursor: pointer;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
        }
    }

    .confirmBtn {
        width: 100%;
        padding: 16px;
        background: #49BBBD;
        color: white;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        transition: 0.3s;
        font-weight: 400;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 0%;

        &:hover {
            background: #3da196;
        }
    }
}

.summarySide {
    flex: 1;
    background: #E3F2FD;
    padding: 30px 30px;
    height: 636px;
    border-radius: 20px;

    h3 {
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #252641;
    }

    .itemList {
        margin-bottom: 20px;

        .item {
            display: flex;
            gap: 22px;
            margin-bottom: 20px;
            padding-bottom: 20px;

            &:first-child {
                border-bottom: 0.5px solid #5B5B5B;
            }

            .itemImg {
                border-radius: 20px;
                overflow: hidden;

                img {
                    object-fit: cover;
                }
            }

            .itemDetails {
                h4 {
                    margin: 0;
                    font-size: 14px;
                    margin-bottom: 4px;
                    line-height: 1.4;

                }

                p {
                    margin: 0;
                    color: #5B5B5B;
                    margin-bottom: 4px;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 18px;
                    line-height: 180%;
                    letter-spacing: 2%;
                }

                .price {
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 24px;
                    line-height: 180%;
                    letter-spacing: 2%;
                }
            }
        }
    }

    .calculations {

        .calcRow {
            border-top: 0.5px solid #5B5B5B;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            span {
                color: #5B5B5B;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 20px;
                line-height: 180%;
                letter-spacing: 2%;
            }

            &.total {
                margin-top: 20px;

                span {
                    font-size: 20px;
                    font-weight: 800;
                    color: #2D3436;
                }
            }
        }
    }
}