@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.whatIsTotc {
    width: 100%;
    margin: 120px auto;
    background: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    h2 {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 44px;
        line-height: 180%;
        letter-spacing: 0%;
        text-align: center;

        span {
            color: #00cbb8;
        }
    }

    p {
        margin: 0;
        padding: 0;
        color: #696984;
        font-weight: 400;
        font-size: 24px;
        line-height: 180%;
        letter-spacing: 2%;
        text-align: center;
        max-width: 1100px;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.card {
    position: relative;
    width: 600px;
    height: 403px;
    border-radius: 20px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.45);
        z-index: 1;
    }
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    color: #ffffff;
    text-align: center;

    h3 {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }

    button {
        font-weight: 500;
        font-size: 22px;
        cursor: pointer;
        transition: background 0.2s ease;
        width: 283;
        height: 80;
        opacity: 1;
        border-radius: 80px;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        background-color: transparent;

        &:hover {
            background: #23BDEEE5;
            border: none;
        }

        &:focus-visible {
            outline: 3px solid #00cbb8;
            outline-offset: 4px;
        }
    }
}

.primary {
    background: #00cbb8;
    border-color: transparent;

    &:hover {
        background: darken(#00cbb8, 6%);
    }
}