$navy-dark: #252641;
$blue-bright: #23BDEE;
$teal-accent: #49BBBD;
$white: #ffffff;

.appSection {
  background-color: $navy-dark;
  padding: 80px 100px;
  border-radius: 37px;
  margin: 0 auto;
  max-width: 1920px;
  transform: translateY(-50%);
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 992px) {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}

.title {
  color: $white;
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;

}

.buttonGroup {
  display: flex;
  gap: 24px;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.androidBtn,
.iosBtn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  color: $white;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 254px;
  text-align: center;
justify-content: center;
align-items: center;
  &:hover {
    transform: translateY(-2px);
    opacity: 0.9;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.androidBtn {
  background-color: $blue-bright;
}

.iosBtn {
  background-color: $teal-accent;
}