.allInOne {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px; 
    background: #ffffff;
    margin: 0 auto;
    padding: 60px 20px;

    @media (min-width: 992px) {
        gap: 160px;
        padding: 100px 20px;
    }
}

.header {
    max-width: 780px;
    text-align: center;
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2 {
        font-weight: 700;
        font-size: 28px;
        margin: 0;
        line-height: 1.2;

        @media (min-width: 768px) {
            font-size: 36px;
        }

        span {
            color: #00CBB8;
        }
    }

    p {
        color: #696984;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        margin: 0;

        @media (min-width: 768px) {
            font-size: 24px;
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap; 
    gap: 80px 30px; 
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
}

.card {
    position: relative;
    background: #FFFFFF;
    text-align: center;
    width: 100%;
    max-width: 450px; 
    min-height: 380px;
    border-radius: 20px;
    box-shadow: 0px 10px 60px 0px #262D7614;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 30px 40px; 

    @media (min-width: 992px) {
        padding: 80px 40px 40px;
    }

    h3 {
        color: #2f327d;
        margin-bottom: 24px;
        white-space: pre-line;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.2;

        @media (min-width: 768px) {
            font-size: 30px;
        }
    }

    p {
        color: #696984;
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 180%;
        width: 100%;
        max-width: 341px;

        @media (min-width: 768px) {
            font-size: 20px;
        }
    }
}

.icon {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
        width: 100px;
        height: 100px;
    }

    img {
        width: 40px;
        height: 40px;

        @media (min-width: 768px) {
            width: 48px;
            height: 48px;
        }
    }
}

.billing .icon { background: #5b72ee; }
.schedule .icon { background: #00cbb8; }
.customer .icon { background: #29b9e7; }