.allInOne {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 160px;
    background: #ffffff;
    margin: 0 auto;
}

.header {
    max-width: 780px;
    text-align: center;
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2 {
        font-weight: 700;
        font-size: 36px;
        margin: 0;
        padding: 0;

        span {
            color: #00CBB8;
        }
    }

    p {
        color: #696984;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 0%;
        text-align: center;
        margin: 0;
        padding: 0;
    }
}

.cards {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    background: #FFFFFF;
    text-align: center;
    width: 450;
    height: 430;
    opacity: 1;
    border-radius: 20px;
    box-shadow: 0px 10px 60px 0px #262D7614;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        color: #2f327d;
        margin-bottom: 24px;
        white-space: pre-line;
        font-weight: 500;
        font-size: 30px;
        line-height: 100%;
        text-align: center;

    }

    p {

        color: #696984;
        margin: 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 180%;
        text-align: center;
        width: 341px;
    }
}

.icon {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.billing .icon {
    background: #5b72ee;
}

.schedule .icon {
    background: #00cbb8;
}

.customer .icon {
    background: #29b9e7;
}