$teal: #55EFC4;
$orange: #FDCB6E;
$grey: #ADADAD;
$dark-text: #2D3436;
$light-text: #6B7280;
$bg-white: #ffffff;
$accent-color: #49BBBD;

.card {
    font-family: Inter, sans-serif;
    width: 370px;
    background-color: $bg-white;
    border-radius: 24px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    position: relative;
    height: 536px;

    .actionButton {
        margin-top: auto;
        padding: 16px 32px;
        border-radius: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        background-color: transparent;
        border: 1px solid $grey;
        color: $accent-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.2px;
        text-align: center;
        vertical-align: middle;

        &:hover {
            border-color: $teal;
            color: $teal;
        }
    }

    &.grey {
        .icon {
            color: $grey;
        }
    }

    &.teal {
        .icon {
            color: $teal;
        }
    }

    &.orange {
        .icon {
            color: $orange;
        }
    }

    &.popular {
        z-index: 1;
        box-shadow: 0px 16px 24px 0px #26323814;
        box-shadow: 0px 8px 8px 0px #2632381F;

        .actionButton {
            background-color: $accent-color;
            border-color: $teal;
            color: white;

            &:hover {
                background-color: darken($teal, 5%);
                border-color: darken($teal, 5%);
            }
        }
    }
}

.header {
    margin-bottom: 32px;
}

.titleRow {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    color: $accent-color;

    .icon {
        font-size: 1.5rem;
        margin-right: 12px;
        display: flex;
        backdrop-filter: blur(48px)
    }

    .planName {
        color: $accent-color;
        margin: 0;
        margin-right: auto;

        font-family: Inter, sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.2px;
        vertical-align: middle;

    }

    .badge {
        color: $dark-text;
        padding: 8px;
        border-radius: 999px;
        font-weight: 800;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 2.5px;
        text-align: center;
        vertical-align: bottom;
        text-transform: uppercase;
        width: 74px;
        border: 1px solid #6C5CE7
    }
}

.priceContainer {
    display: flex;
    align-items: baseline;

    .price {
        color: $dark-text;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -1px;
        vertical-align: middle;

    }

    .period {
        color: $dark-text;
        margin-left: 8px;
        font-weight: 800;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 2.5px;
        vertical-align: middle;
        text-transform: uppercase;
    }
}

.featuresList {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;

    .featureItem {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        color: $dark-text;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0px;
        vertical-align: middle;

        .checkIcon {
            margin-right: 12px;
            flex-shrink: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}