$primary-navy: #2D3436;
$secondary-gray: #696984;
$teal-accent: #49BBBD;
$border-color: rgba(105, 105, 132, 0.2);

.section {
  padding: 80px 120px;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;

}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.mainTitle {
  color: $primary-navy;
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
}

.accordionList {
  display: flex;
  flex-direction: column;
}

.accordionItem {
  border-bottom: 0.5 solid $border-color;
  font-family: 'Inter', sans-serif;

}

.itemHeader {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    .itemTitle {
      color: $teal-accent;
    }
  }
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 20px;
}

.statusDot {
  width: 15px;
  height: 15px;
  background-color: #55EFC4;
  border-radius: 50%;
  flex-shrink: 0;
}

.itemTitle {
  color: $secondary-gray;
  transition: color 0.3s;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease;
}

.arrowIcon {
  path {
    transition: stroke 0.3s;
  }
}

.contentWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
}

.contentInner {
  padding: 0 0 30px 35px; 
}

.contentText {
  color: $secondary-gray;
  max-width: 95%;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 2%;

}

.active {
  .iconWrapper {
    transform: rotate(180deg);

    .arrowIcon path {
      stroke: $primary-navy;
    }
  }

  .contentWrapper {
    max-height: 1000px; 
    transition: max-height 0.4s cubic-bezier(1, 0, 1, 0);
  }
}

@media (max-width: 768px) {
  .mainTitle {
    font-size: 1.8rem;
  }

  .itemTitle {
    font-size: 1rem;
  }
}