$primary-text: #2F327D;
$secondary-text: #696984;
$accent-color: #49BBBD;
$radius: 20px;

.newsSection {
    padding: 150px 20px;
    font-family: 'Poppins', sans-serif; 
}

.container {
    max-width: 1557px;
    margin: 0 auto;
}

.header {
    text-align: center;

    font-family: 'Nunito Sans', sans-serif;

    .title {
        line-height: 180%;
        color: $primary-text;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .subtitle {
        color: $secondary-text;
        font-weight: 400;
        font-size: 24px;
        line-height: 180%;
        letter-spacing: 0%;
        text-align: center;
    }

    margin-bottom: 100px;
}

.contentGrid {
    display: flex;
    gap: 120px;

    @media (max-width: 992px) {
        grid-template-columns: 1fr; 
        gap: 40px;
    }
}

.badge,
.badgeSmall {
    background-color: $accent-color;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 50px;
    text-align: center;
}

.mainFeature {
    display: flex;
    flex-direction: column;

    .imageWrapper {
        position: relative;
        margin-bottom: 20px;

        .mainImage {

            object-fit: cover;
            border-radius: $radius;
        }

        .badge {
            left: 0;
            padding: 2px 35px;
            position: relative;
            bottom: auto;
            display: flex;
            width: 130px;
            margin-top: 15px;
            font-weight: 500;
            font-size: 20px;
            line-height: 180%;
            letter-spacing: 2%;
        }
    }

    .mainContent {
        width: 609px;

        .articleTitle {
            padding: 0;
            margin: 0;
            color: $primary-text;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.4;
        }

        .articleDesc {
            color: $secondary-text;
            font-weight: 400;
            font-size: 20px;
            line-height: 180%;
            letter-spacing: 2%;
            margin-bottom: 28px;

        }

        .readMore {
            color: $secondary-text;
            font-weight: 400;
            font-size: 20px;
            line-height: 180%;
            letter-spacing: 2%;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 0%;

            &:hover {
                color: $accent-color;
            }
        }
    }
}

.sideList {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sideItem {
    display: flex;
    align-items: flex-start;
    gap: 40px;

    @media (max-width: 500px) {
        flex-direction: column;
    }

    .sideImageWrapper {
        position: relative;
        flex-shrink: 0;

        @media (max-width: 500px) {
            width: 100%;
        }

        .sideImage {
            object-fit: cover;
            border-radius: $radius;
        }

        .badgeSmall {
            position: absolute;
            padding: 4px 12px;
            bottom: 20px;
            right: 20px;
            height: 34px;
            opacity: 1;
            border-radius: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 2%;
        }
    }

    .sideContent {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .sideTitle {
            font-weight: 500;
            font-size: 22px;
            line-height: 1.8;
            letter-spacing: 0%;
            color: #252641;
            margin: 0;
            padding: 0;
        }

        .sideDesc {
            font-weight: 400;
            font-size: 20px;
            line-height: 1.8;
            letter-spacing: 2%;
            color: $secondary-text;
            margin: 0;
            display: -webkit-box;
            -webkit-line-clamp: 2; 
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}