.mainWrapper {
    background-color: #f8faff;
    font-family: 'Inter', sans-serif;
}

.heroSection {
    position: relative;
    height: 652px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/images/courseDeailBanner.jpg');
    background-size: cover;
    background-position: center;
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
}

.tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 83px;
    width: 60%;
    justify-content: space-between;

    .tab {

        padding: 17px 50px;
        border: none;
        background-color: #0000001A;
        backdrop-filter: blur(5px);
        cursor: pointer;
        width: 200;
        height: 63;
        opacity: 1;
        border-radius: 12px;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #00000066;

        &.active {
            background: #4db6ac;
            color: white;
        }
    }
}

.pricingCard {
    position: absolute;
    top: -350px;
    right: 0;
    width: 500px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    z-index: 10;
    border: 30px solid #FFFFFF
}

.videoThumbnail {
    position: relative;
    padding: 15px;

    img {
        object-fit: cover;
        border-radius: 12px;
    }

    .playButton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.pricingBody {
    padding: 25px;

    .priceRow {
        display: flex;
        align-items: baseline;
        gap: 22px;
        justify-content: space-between;
        margin-bottom: 42px;

        .currentPrice {
            font-weight: 600;
            font-style: SemiBold;
            font-size: 45px;
            line-height: 100%;
            letter-spacing: 2%;
        }

        .oldPrice {
            color: #00000080;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 28px;
            line-height: 100%;
            letter-spacing: 2%;
            text-decoration: line-through;
        }

        .discount {
            color: #00000080;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 28px;
            line-height: 100%;
            letter-spacing: 2%;
        }
    }

    .timeLeft {
        color: #49BBBD;
        text-align: center;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 2%;
        margin-bottom: 42px;
    }

    .buyBtn {
        width: 100%;
        padding: 17px;
        background: #49BBBD;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
    }
}

.heroContent {
    max-width: 1920px;
    margin: 0 6%;
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.infoList,
.trainingSection,
.shareSection {
    border-top: 1px solid #696984;
    margin-top: 20px;

    padding-top: 20px;

    h4 {
        margin-bottom: 34px;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 2%;
    }

    p {
        color: #696984;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 180%;
        letter-spacing: 2%;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 10px;
            color: #00000080;
            display: flex;
            gap: 10px;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 2%;
            align-items: center;
        }
    }
}

.socialIcons {
    display: flex;
    gap: 15px;
    color: #6c757d;
    font-size: 18px;
    cursor: pointer;
}

.categoriesSection {
    padding: 100px 10% 60px 10%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.catCard {
    background: white;
    padding: 40px 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);

    .iconBox {
        width: 60px;
        height: 60px;
        border-radius: 12px;
        margin: 0 auto 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    h3 {
        margin-bottom: 15px;
        font-size: 20px;
    }

    p {
        font-size: 13px;
        color: #888;
        line-height: 1.6;
    }
}