@use 'sass:map';
@use "./variables.scss" as *;
$breakpoints: (
  sm: 480px,
  md: 768px,
  ipad: 820px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1400px,
);

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin focus-ring {
  outline: 2px solid $color-accent;
  outline-offset: 3px;
}

@mixin button-reset {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}


@mixin respond($size) {
  @media (max-width: map.get($breakpoints, $size)) {
    @content;
  }
}


@mixin display-center($gap: 0, $justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin focus-ring {
  outline: 2px solid $color-accent;
  outline-offset: 3px;
}

@mixin button-reset {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
