@use "./variables.scss" as *;

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin focus-ring {
  outline: 2px solid $color-accent;
  outline-offset: 3px;
}

@mixin button-reset {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
