$font-primary: "Poppins", sans-serif;
$color-white: #ffffff;
$color-black: #000000;
$color-accent: #00fff0;
$color-login: #5b5b5b;
$color-signup-bg: #ffffff4d;
$color-primary: #ff7a00; 
$shadow-soft: 0px 20px 24px 0px rgba(0, 0, 0, 0.03);
$radius-pill: 80px;
$radius-sm: 6px;
$container-padding-x: 6%;
$z-header: 100;
$teal-accent: #49BBBD;
$dark-blue-bg: #252641; 
$text-dark: #333333;
$text-grey: #696984;
$input-border: #BDBDD3;
$white: #ffffff;
$border-radius-pill: 50px;
$border-radius-card: 30px;
$font-family: 'Poppins', sans-serif; 