.container {
    max-width: 1920px;
    margin: 60px auto;
    padding: 0 6% 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .heading {
        color: #000;
        margin: 0;
        font-weight: 500;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 2%;
        margin-bottom: 60px;
    }

    .seeAll {
        color: #4db6ac;
        background: transparent;
        border: none;
        font-weight: 600;
        cursor: pointer;
        font-size: 0.9rem;

        &:hover {
            text-decoration: underline;
        }
    }
}

.grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    background: #171B4180;
    position: relative;
    height: 481px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    padding: 40px 50px;
    gap: 29px;
    overflow: hidden;
    border: 1px solid #000000;
}

.badge {
    background-color: #FF000099;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 12px;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 29px;
}

.content {
    color: white;
    max-width: 90%;

    .title {
        margin: 0;
        margin-bottom: 36px;
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    .description {
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        line-height: 180%;
        letter-spacing: 2%;
    }
}