$navy-dark: #2D3436;
$text-gray: #696984;
$teal-accent: #49BBBD;
$white: #ffffff;

.joinSection {
    margin-bottom: 233px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 108px;
    justify-items: center;
    @media (max-width: 992px) {
        grid-template-columns: 1fr;
    }
}

.card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background: $white; 
    width: 786px;
    padding: 59px 33px;
    box-shadow: 0px 18.83px 47.08px 0px #2F327D1A;

    .imageWrapper {
        width: 720px;
        height: 382.5px;
        position: relative;
        overflow: hidden;
        border-radius: 20px;

        .mainImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
        }
    }

    &:hover .mainImg {
        transform: scale(1.05);
    }
}

.content {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}

.cardTitle {
    color: #2F327D;
    margin: 13px 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 180%;
    letter-spacing: 0%;
}

.cardDesc {
    margin: 0;
    margin-bottom: 48px;
    max-width: 90%;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 2%;

    color: $text-gray;

}

.btnWrapper {
    display: flex;
    justify-content: flex-end;
}

.applyBtn {
    background-color: #49BBBD;
    color: $white;
    border: none;
    border-radius: 12px;
    padding: 14px 30px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0%;

    &:hover {
        background-color: rgba($teal-accent, 0.8);
    }
}