.wrapper {
    margin: 160px auto;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1547px;
    margin: 0 auto;
    padding: 0 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    max-width: 520px;
    position: relative;
}

.circle {
    opacity: 1;
    border-radius: 50%;
    background: #33EFA0;
}

.bigCircle {
    width: 73px;
    height: 73px;
    position: absolute;
    top: -20px;
    left: -23px;
    z-index: -1;
}


.smallCircle {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: -1;
}

.title {
    color: #2F327D;
    margin: 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    letter-spacing: 0%;
    width: 655px;

    span {
        color: #33EFA0;
    }
}

.description {
    color: #696984;
    margin: 0;
    width: 730px;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 2px;
    position: relative;
}

.link {
    color: #696984;
    transition: color 0.3s ease;

    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;


    &:hover {
        color: #33EFA0;
    }
}

.media {
    position: relative;
    border-radius: 20px;
}

.image {
    display: block;
    border-radius: 20px;
    border: none;
    color: transparent;
    width: 705px;
    height: 471.08px;
    z-index: 2;
}

.playButton {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.playIcon {
    width: 0;
    height: 0;
    border-left: 20px solid #23BDEE;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    margin-left: 4px;
}

.ellipse {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.ellipseBlue {

    background-color: #23bdee;
    top: -30px;
    left: -30px;
    width: 138px;
    height: 138px;
    opacity: 1;
    border-radius: 20px;
    z-index: -1;
}

.ellipseGreen {
    background-color: #33EFA0;
    bottom: -25px;
    right: -25px;
    width: 231px;
    height: 231px;
    opacity: 1;
    border-radius: 20px;
    z-index: -1;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .content {
        max-width: 100%;
        text-align: center;
    }

    .title {
        font-size: 36px;
    }
}